@keyframes color{
    0% {background-color: #4EC475}
    100% {background-color: transparent}
}

.order-list {
    /* display: block; */
    padding: 1em 0.5em;
    font-weight: bold;
    text-align: right;
    min-width: 350px;
    max-width: 470px;
    border-radius: 2px;
    flex-grow: 10;
}

ul {
    list-style: none;
    min-width: 350px;
    max-width: 500px;
}

.order-list li{
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: 1.2em 0;
    border-radius: 2px;
    
}

i.outline.large.icon {
    margin: 0 0.5em;
    color: #545353;
}

.total {
    background-color: rgb(192, 171, 149, 0.4);
}