.ui.grid div.row.order {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid #545353;
    justify-content: space-between !important;
    margin: 0.7em 1.5em;
    padding: 1em;
    border-radius: 2px;
    background-color: rgba(192, 171, 149, 0.3);
    min-height: 215px;
}

div.order-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.order-info .order-status{
    color: tomato;
}

div.order-btn p {
    margin-bottom: 0;
}

div.order-btn {
    width: 24%;
    display:flex;
    flex-direction: column;
    margin:0 1em;
    /* flex-wrap: wrap; */
}

.selection-order {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
}

button.btn-ready.ui.basic.button {
    background-color: #4EC475 !important;
}

button.btn-prepare.ui.basic.button {
    background-color: #ffffff !important;
}

