.ui.tabular.menu {
    margin: 2em 0;
    border-bottom: 2px solid #545353 !important;
}

.ui.image {
    margin: 1em;
}

.item.nav {
    margin-right: 2em;
    font-size: medium;
}
.active {
    color: #4EC475 !important;
    margin-bottom: -2px !important;
    border-top: 2px solid #545353 !important;
    border-left: 2px solid #545353 !important;
    border-right: 2px solid #545353 !important;
}