.ui.tabular.menu {
    margin: 2em 0;
    border-bottom: 2px solid #545353 !important;
}

.ui.image {
    margin: 1em;
    min-width: 120px !important;
}

.item.nav {
    margin-right: 2em;
    font-size: medium;
}
.item.nav.active {
    font-weight: bolder;
    margin-bottom: -2px !important;
    border-top: 2px solid #545353 !important;
    border-left: 2px solid #545353 !important;
    border-right: 2px solid #545353 !important;
}