button.btn-menu-items.ui.basic.button{
    border: 2px solid #545353;
    border-radius: 2px;
    font-weight: bold;
    width: 285px;
    margin: 0em 0.7em 0.4em 0.7em;
    font-size: medium;
    flex: 1;
}

button.btn-menu-items.ui.basic.button:active {
    transform: translateY(2px);
}

.ui.segment.radio-seg {
    margin: 0;
}

i.huge.check.circle.outline.icon{
    color: #4EC475;
    margin:0.2em !important;
}

/* i.huge.check.circle.outline.icon:hover{
    color: #4EC475; 
} */

div.ui.segment.checkbox-item {
    border: 2px solid #545353;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    order: 99;
    margin-bottom:0;
}

.order-menu ul{
    margin: 1.5em;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
}


div.type-menu.ui.buttons .ui.button {
    background-color:  rgb(192, 171, 149, 0.3);
    border: 2px solid #545353;
    font-weight: bold;
    font-size: medium;
}

div.type-menu.ui.buttons .ui.button.active {
    color: #4EC475;
    background-color: transparent;
}