button.btn-menu-items.ui.basic.button{
    border: 2px solid #545353;
    border-radius: 2px;
    font-weight: bold;
    width: 285px;
    margin: 0em 0.7em 0.4em 0.7em;
    font-size: medium;
    flex: 1;
}

button.ui.basic.button:active {
    transform: translateY(2px);
}

.ui.segment.radio-seg {
    margin: 0;
}

/* div.ui.buttons {
    margin: 2.3em 0!important;
} */

.ui.icon.button{
    border:none;
    background-color:transparent;
}

.ui.icon.button:hover{
   background-color: transparent;
}

.checkbox-item {
    background-color: rgb(78, 196, 117, 0.1)  !important;
    width: 100%;
    max-width: 700px;
    display: flex;
    /* flex-direction: row; */ 
    align-items: center;
    order: 99;
}
/* .checkbox-item li {
    
} */

/* Icon.checkbox-item.icon {
   position:relative;
} */

.order-menu ul{
    margin: 1.5em;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-content: flex-start;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
    /* max-height: 300px; */
}

div.ui.buttons .ui.button {
    background-color:  rgb(192, 171, 149, 0.3);
    border: 2px solid #545353;
    font-weight: bold;
    font-size: medium;
}

div.ui.buttons .ui.button.active {
    color: #4EC475;
    background-color: transparent;
}