.ui.form {
    font-size: medium !important;
    margin: 1.5em;
}

.ui.form input {
    border: 2px solid #545353 !important;
}

button.ui.button{
    background-color: #4EC475;
    font-size: medium;
}