/* .ui.small.modal.transition.visible.active .ui.button {
    background-color: transparent;
}

.ui.small.modal.transition.visible.active .ui.primary.button {
    background-color: #545353!important;
}

div.ui.modal .content {
    font-weight: bold;
}

div.ui.modal .actions {
    border-top: 2px solid #545353;
} */

