.menu{
    /* display:flex; */
    justify-content: center;
    position: relative;
}
.client-order {
    margin: 1.5em;
    background-color: rgba(192, 171, 149, 0.3);
    display: flex;
    justify-content: center;
    /* flex-basis: 0;
    align-self: flex-end; */
    position: fixed;
    width:100%;
    border-radius: 2px;
    /* min-width: 720px; */
    max-width: 700px;
    /* position: absolute;*/
    bottom: 0; 

}

/* //@media max-width: 600px; */