.menu{
    justify-content: center;
}
.client-order {
    margin: 1.5em;
    background-color: rgba(192, 171, 149, 0.3);
    display: flex;
    justify-content: center;
    flex-basis: 0;
    position: fixed;
    border-radius: 2px;
    /* min-width: 720px; */
    width: 95%;
}

/* //@media max-width: 600px; */